@import 'bootstrap/dist/css/bootstrap.min.css';
 

:root{
    --oscuro: #16191c;
    --oscuro-x: #1e2126;
    --luz: #f1f1f1;
}

.bg-dark{
    background-color: var(--oscuro) !important;
}

.bg-dark-x{
    background-color: var(--oscuro-x) !important;
}

.bg-light{
    background-color: var(--luz);
    color: var(--oscuro);
    font-size: large;
    font-weight: 300;
}

body{
    color: var(--luz);
    font-weight: 300;
}

input::placeholder{
    color: var(--luz);
}

/* Cambiar el color del texto del placeholder */
input::placeholder {
    color: white; /* Color blanco para el placeholder */
}

/* Cambiar el color del texto cuando el usuario escribe */
input {
    color: white; /* Color blanco para el texto */
}

.img-1{
    background-image: url('https://images.pexels.com/photos/8062299/pexels-photo-8062299.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image: url('https://images.pexels.com/photos/7222979/pexels-photo-7222979.jpeg');
    background-size: cover;
    background-position: center;
}
.img-3{
    background-image: url('https://images.pexels.com/photos/2478248/pexels-photo-2478248.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}
.img-4{
    background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}
.img-5{
    background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}

.nav{
    background-color: #44535e;
    color: white;
    text-decoration: none;
}

.nav li a{
    color: #d9ebe9;
}

.nav li a:hover{
    color: #798f8c;
}

/* .nav li a:active {
    color: #798f8c; 
} */

.nav li a:visited {
    color: #d9ebe9; /* Color después de visitar */
}

.page-link{
    color: #d9ebe9;
}

.page-link:active{
    color: #798f8c; 
}

#carouselExampleIndicators{
    height: 91vh;
}

.fondo{
    background-image: url('https://images.pexels.com/photos/753873/pexels-photo-753873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
}

@import 'datatables.net-dt';

#tabla{
    background-color: #798f8c;
    border-radius: 15px;
}

#tabla2 {
    background-color: rgba(217, 235, 233, 0.7);
    border: 2px solid black;
    border-radius: 15px;
    font-weight: bolder;
}

#container-tabla{
    width: 75%;
}

@media (max-width: 1024px) {
    #container-tabla {
        width: 100%;
    }
}